.header-top {
  display: flex;
  background-color: #131921;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-family: "PT Sans", sans-serif;
}
.header-top .header_left_wrap {
  width: 20%;
  display: flex;
  align-items: center;
}
.header-top .header_left_wrap .header_logo {
  width: 100px;
}
.header-top .header_left_wrap .header_logo .header_logo_img {
  width: 100%;
  padding-top: 5px;
}
.header-top .header_left_wrap .nav-global-location-slot {
  display: flex;
  margin-left: 20px;
}
.header-top .header_left_wrap .nav-global-location-slot .location-icon {
  color: white;
  padding-top: 4px;
}
.header-top .header_left_wrap .nav-global-location-slot .location-content {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  padding-left: 2px;
  color: white;
}
.header-top .header_left_wrap .nav-global-location-slot .location-content .nav_itemLineOne {
  font-size: 12px;
  font-weight: 400;
}
.header-top .header_left_wrap .nav-global-location-slot .location-content .nav_itemLineTwo {
  font-size: 14px;
  font-weight: 600;
}
.header-top .header_fill_wrap {
  width: 55%;
}
.header-top .header_fill_wrap .header_search .input-group .dropdown_btn {
  background-color: #f3f3f3;
  color: #0f1111;
}
.header-top .header_fill_wrap .header_search .input-group .form-control {
  outline: none;
}
.header-top .header_fill_wrap .header_search .input-group .form-control:focus {
  box-shadow: none;
}
.header-top .header_fill_wrap .header_search .input-group ul {
  height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.header-top .header_fill_wrap .header_search .input-group ul li a {
  display: block;
  font-size: 13px;
  color: #444;
  font-weight: 600;
  white-space: normal;
  word-wrap: break-word;
}
.header-top .header_fill_wrap .header_search .input-group .search-icon-button {
  color: #0f1111;
  background-color: #febd69;
  margin-left: -1px;
}
.header-top .header_right_wrap {
  width: 25%;
}
.header-top .header_right_wrap .header_navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-top .header_right_wrap .header_navigation .dropdown {
  width: 60px;
}
.header-top .header_right_wrap .header_navigation .dropdown .country_dropdown_btn {
  color: #fff;
  background-color: transparent;
  border: none;
}
.header-top .header_right_wrap .header_navigation .dropdown .country_dropdown_btn .flag {
  width: 18px;
}
.header-top .header_right_wrap .header_navigation .dropdown .country_dropdown_btn:hover {
  background-color: transparent;
}
.header-top .header_right_wrap .header_navigation .dropdown .dropdown-item {
  display: block;
  font-size: 13px;
  color: #444;
  font-weight: 400;
  white-space: normal;
  word-wrap: break-word;
}
.header-top .header_right_wrap .header_navigation .nav-items {
  color: white;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
.header-top .header_right_wrap .header_navigation .nav-items .nav_itemLineOne {
  font-size: 12px;
  font-weight: 400;
}
.header-top .header_right_wrap .header_navigation .nav-items .nav_itemLineTwo {
  font-size: 14px;
  font-weight: 600;
}
.header-top .header_right_wrap .header_navigation .nav-items .shopping_cart::after {
  content: "Cart";
}
.header-bottom {
  background-color: #232f3e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.header-bottom .header_bottom_left ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}
.header-bottom .header_bottom_left ul li {
  position: relative;
  padding: 7px 6px;
}
.header-bottom .header_bottom_left ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.header-bottom .header_bottom_left ul li a .menu_bars {
  font-size: 23px;
  position: absolute;
  left: -20px;
  top: 8px;
}
.header-bottom .header_bottom_left ul li:hover {
  border: 1px solid #fff;
  border-radius: 2px;
}
.header-bottom .header_bottom_right {
  padding: 5px;
}
