.checkout_card .card_wrap {
  display: flex;
}
.checkout_card .card_wrap .card_left .card_right_image {
  width: 150px;
}
.checkout_card .card_wrap .card_left .card_right_image img {
  width: 100%;
}
.checkout_card .card_wrap .card_right .card_right_info .product_title {
  font-size: 18px;
  font-weight: 600;
}
.checkout_page .checkout_wrap {
  display: flex;
  justify-content: center;
}
.checkout_page .checkout_wrap .checkout_left {
  width: 60%;
}
.checkout_page .checkout_wrap .checkout_left .checkout_title {
  font-size: 18px;
  font-weight: 600;
}
.checkout_page .checkout_wrap .checkout_right {
  width: 30%;
}
.checkout_page .checkout_wrap .checkout_right .proceed_checkout_col {
  width: 250px;
}
.checkout_page .checkout_wrap .checkout_right .proceed_checkout_col button {
  background: #ffa41c;
  outline: none;
  border: none;
  padding: 11px 20px;
  width: 100%;
}
